header,
footer,
main,
section,
nav,
aside {
  display: block;
}
button {
  border: none;
}
* {
  padding: 0;
  margin: 0;
  outline: none !important;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}
table {
  border-collapse: collapse;
}
td {
  vertical-align: middle;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
::-ms-clear {
  display: none;
}
body {
  user-select: none;
}
input {
  user-select: none;
}
::selection {
  background: transparent;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  
  /*src: url("@{path}.eot");
        src: url("@{path}.eot?#iefix") format("embedded-opentype"), 
             url("@{path}.woff") format("woff"), 
             url("@{path}.ttf") format("truetype");*/
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  
  /*src: url("@{path}.eot");
        src: url("@{path}.eot?#iefix") format("embedded-opentype"), 
             url("@{path}.woff") format("woff"), 
             url("@{path}.ttf") format("truetype");*/
}
html {
  font: bold 20px/1 'OpenSans', Times, sans-serif;
}
.header:before,
.footer:before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.header:after,
.footer:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0a0e34;
  opacity: 0.9;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
.container {
  min-width: 320px;
}
.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  transition: 0.4s;
}
.menu__link {
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 43px;
  background-color: #5e42b0;
  transition: 0.4s;
}
@media screen and (max-width: 767px) {
  .menu__link {
    width: 100%;
    padding: 9px 0;
  }
}
.menu__content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}
@media screen and (max-width: 479px) {
  .menu__content {
    font-size: 8px;
  }
}
.menu__logo {
  margin-right: 20px;
}
.menu__logo.apple {
  width: 42px;
  height: 48px;
}
@media screen and (max-width: 767px) {
  .menu__logo.apple {
    width: 36px;
    height: 42px;
  }
}
@media screen and (max-width: 479px) {
  .menu__logo.apple {
    width: 20px;
    height: 24px;
  }
}
.menu__logo.google {
  width: 40px;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .menu__logo.google {
    width: 41px;
    height: 45px;
  }
}
@media screen and (max-width: 479px) {
  .menu__logo.google {
    width: 22px;
    height: 24px;
  }
}
@media screen and (max-width: 479px) {
  .menu__logo {
    margin-right: 6px;
  }
}
.menu__text-container {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.menu__text-container > *:first-child {
  font-weight: 400;
}
.menu__link + .menu__link {
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .menu__link + .menu__link {
    margin-top: 14px;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    margin-bottom: 55px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 479px) {
  .menu {
    margin-bottom: 50px;
  }
}
.logo {
  text-align: center;
  cursor: pointer;
}
.logo svg {
  width: 191px;
  height: 52px;
  transition: all 1s;
  fill: #000;
}
@media screen and (max-width: 479px) {
  .logo svg {
    width: 133px;
    height: 37px;
  }
}
.logo path {
  stroke: 5px;
  transition: 0.4s;
}
.logo:hover path {
  fill: #3F51B5;
  stroke-width: 5px;
}
.header {
  position: relative;
  color: #fff;
  font-size: 16px;
  padding: 35px 90px;
}
.header:before {
  background: url(../images/football_1920.jpg) 50% 0 / cover no-repeat;
}
@media screen and (max-width: 767px) {
  .header:before {
    background-image: url(../images/football_767.jpg);
  }
}
.header__logo {
  margin-bottom: 295px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    margin-bottom: 180px;
  }
}
@media screen and (max-width: 479px) {
  .header__logo {
    margin-bottom: 135px;
  }
}
.header__wrap {
  max-width: 1350px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 35px 58px;
  }
}
@media screen and (max-width: 479px) {
  .header {
    padding: 35px 20px;
  }
}
.heading-primary {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 225px;
  font-size: 83px;
  letter-spacing: 2px;
  transition: 0.4s;
}
.heading-primary > span {
  max-width: 85%;
  margin: 0 -7px;
}
@media screen and (max-width: 479px) {
  .heading-primary > span {
    margin: 0 -2px;
  }
}
.heading-primary .second {
  align-self: flex-end;
}
@media screen and (max-width: 767px) {
  .heading-primary {
    margin-bottom: 110px;
    font-size: 64px;
    letter-spacing: 1.6px;
  }
}
@media screen and (max-width: 479px) {
  .heading-primary {
    margin-bottom: 90px;
    font-size: 28px;
    letter-spacing: 2px;
  }
}
.main {
  color: #000;
  font-weight: 700;
  font-family: 'OpenSans', Times, sans-serif;
}
.sportsmans {
  font-size: 10px;
  overflow: hidden;
}
.sportsmans h2 {
  margin-left: -5px;
  color: #e7e7e7;
  font-size: 80px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .sportsmans h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 479px) {
  .sportsmans h2 {
    font-size: 50px;
  }
}
.sportsmans__block {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sportsmans__block:nth-child(2n) .sportsmans__box {
  justify-content: flex-start;
}
.sportsmans__block:nth-child(2n) .sportsmans__box .sportsmans__wrap {
  padding: 0 20px 0 192px;
}
.sportsmans__block:nth-child(2n) .sportsmans__box .sportsmans__wrap .sportsmans__image {
  top: -110px;
  left: initial;
  right: 0;
  transform: translate(86%, 35px);
}
@media screen and (max-width: 1275px) {
  .sportsmans__block:nth-child(2n) .sportsmans__box .sportsmans__wrap .sportsmans__image {
    transform: translate(86%, 35px);
  }
}
@media screen and (max-width: 991px) {
  .sportsmans__block:nth-child(2n) .sportsmans__box .sportsmans__wrap .sportsmans__image {
    top: 0;
    transform: translate(60%, 0);
  }
}
@media screen and (max-width: 767px) {
  .sportsmans__block:nth-child(2n) .sportsmans__box .sportsmans__wrap .sportsmans__image {
    position: static;
    transform: initial;
  }
}
@media screen and (max-width: 991px) {
  .sportsmans__block:nth-child(2n) .sportsmans__box .sportsmans__wrap {
    padding: 0 32px;
  }
}
@media screen and (max-width: 479px) {
  .sportsmans__block:nth-child(2n) .sportsmans__box .sportsmans__wrap {
    padding: 0 20px;
  }
}
.sportsmans__block:nth-child(2n) .sportsmans__box:nth-child(4) {
  background-color: #0a0e34;
}
.sportsmans__block:nth-child(2n) .sportsmans__box:nth-child(4) .sportsmans__wrap .sportsmans__title-wrap .sportsmans__value {
  color: #5e42b0;
}
.sportsmans__box {
  display: flex;
  justify-content: flex-end;
}
.sportsmans__box:nth-child(1) {
  padding: 110px 0 50px;
}
@media screen and (max-width: 767px) {
  .sportsmans__box:nth-child(1) {
    padding: 25px 0;
  }
}
@media screen and (max-width: 767px) {
  .sportsmans__box:nth-child(2) {
    margin-top: -50px;
    background-color: #fafafa;
  }
}
.sportsmans__box:nth-child(2),
.sportsmans__box:nth-child(3),
.sportsmans__box:nth-child(4) {
  padding: 60px 0;
}
@media screen and (max-width: 1275px) {
  .sportsmans__box:nth-child(2),
  .sportsmans__box:nth-child(3),
  .sportsmans__box:nth-child(4) {
    padding: 40px 0;
  }
}
@media screen and (max-width: 767px) {
  .sportsmans__box:nth-child(2),
  .sportsmans__box:nth-child(3),
  .sportsmans__box:nth-child(4) {
    padding: 60px 0;
  }
}
.sportsmans__box:nth-child(3) {
  background-color: #f6f4fa;
}
.sportsmans__box:nth-child(4) {
  background-color: #5e42b0;
}
.sportsmans__box:nth-child(4) .sportsmans__wrap .sportsmans__title-wrap h3 {
  color: #c1c1c1;
}
.sportsmans__box:nth-child(4) .sportsmans__wrap .sportsmans__title-wrap .sportsmans__value:before {
  background-color: #c1c1c1;
}
.sportsmans__box:nth-child(4) .sportsmans__wrap .sportsmans__text {
  color: #fff;
}
.sportsmans__wrap {
  position: relative;
  width: 50%;
  padding: 0 192px 0 20px;
}
@media screen and (max-width: 1275px) {
  .sportsmans__wrap {
    width: 66.66666667%;
    padding: 0 32px;
  }
}
@media screen and (max-width: 767px) {
  .sportsmans__wrap {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sportsmans__wrap {
    padding: 0 20px;
  }
}
.sportsmans__image {
  position: absolute;
  top: -110px;
  left: 0;
  transform: translate(-110%, 30px) scale(1.04);
  transition: 0.4s;
}
@media screen and (max-width: 767px) {
  .sportsmans__image img {
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 991px) {
  .sportsmans__image {
    top: 0;
    transform: translate(-90%, 45px) scale(1.04);
  }
}
@media screen and (max-width: 767px) {
  .sportsmans__image {
    position: static;
    transform: initial;
  }
}
.sportsmans__title-wrap {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
}
.sportsmans__title-wrap h3 {
  margin-top: -5px;
  padding-left: 10px;
  color: #c1c1c1;
  font-size: 36px;
  letter-spacing: 1.7px;
}
@media screen and (max-width: 1275px) {
  .sportsmans__title-wrap h3 {
    font-size: 32px;
  }
}
.sportsmans__value {
  position: relative;
  padding-bottom: 7px;
  font-size: 18px;
}
.sportsmans__value:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}
@media screen and (max-width: 767px) {
  .sportsmans__value {
    font-size: 14px;
  }
}
.sportsmans__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
}
@media screen and (max-width: 1275px) {
  .sportsmans__text {
    font-size: 16px;
    line-height: 1.75;
  }
}
@media screen and (max-width: 767px) {
  .sportsmans__text {
    font-size: 15px;
    line-height: 1.2;
  }
}
.tips {
  transition: 0.4s;
}
.tips h2 {
  margin-left: -5px;
  color: #e7e7e7;
  font-size: 80px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .tips h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 479px) {
  .tips h2 {
    font-size: 28px;
  }
}
.tips__block {
  display: flex;
  flex-wrap: wrap;
}
.tips__block:nth-child(2n) .tips__content {
  padding: 0 130px 0 10%;
}
.tips__block:nth-child(2n) .tips__content .tips__content-wrap .tips__item-number-block {
  left: initial;
  right: -130px;
  transform: translateX(50%);
}
@media screen and (max-width: 1275px) {
  .tips__block:nth-child(2n) .tips__content .tips__content-wrap .tips__item-number-block {
    width: 116px;
    height: 116px;
    top: -170px;
    left: 0;
    transform: none;
  }
}
@media screen and (max-width: 479px) {
  .tips__block:nth-child(2n) .tips__content .tips__content-wrap .tips__item-number-block {
    width: 70px;
    height: 70px;
    top: -90px;
  }
}
@media screen and (max-width: 1275px) {
  .tips__block:nth-child(2n) .tips__content {
    padding: 0 32px;
  }
}
@media screen and (max-width: 479px) {
  .tips__block:nth-child(2n) .tips__content {
    padding: 0 20px;
  }
}
.tips__block:nth-child(2n) .tips__box + .tips__box {
  order: -1;
}
@media screen and (max-width: 1275px) {
  .tips__block:nth-child(2n) .tips__box + .tips__box {
    order: 0;
  }
}
.tips__box {
  width: 50%;
}
.tips__box img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1275px) {
  .tips__box {
    width: 100%;
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 479px) {
  .tips__box {
    margin-bottom: 35px;
  }
}
.tips__content {
  position: relative;
  padding: 0 10% 0 130px;
}
@media screen and (max-width: 1275px) {
  .tips__content {
    padding: 0 32px;
  }
}
.tips__content-wrap {
  position: relative;
  top: calc(50% - 155px);
  transition: 0.2s;
}
@media screen and (max-width: 1275px) {
  .tips__content-wrap {
    top: 0;
  }
}
.tips__item-number-block {
  position: absolute;
  top: 0;
  left: -130px;
  display: flex;
  width: 168px;
  height: 155px;
  transform: translateX(-50%);
  background-color: #5e42b0;
  transition: 0.4s;
}
@media screen and (max-width: 1275px) {
  .tips__item-number-block {
    width: 116px;
    height: 116px;
    top: -170px;
    left: 0;
    transform: none;
  }
}
@media screen and (max-width: 479px) {
  .tips__item-number-block {
    width: 70px;
    height: 70px;
    top: -90px;
  }
}
.tips__value {
  position: relative;
  margin: auto;
  padding-bottom: 7px;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}
.tips__value:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.3;
}
.tips__title-wrap {
  position: relative;
  top: calc(77.5px - 40px);
  transition: 0.2s;
}
@media screen and (max-width: 1275px) {
  .tips__title-wrap {
    top: 0;
  }
}
.tips__title {
  margin-bottom: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 1275px) {
  .tips__title {
    margin-bottom: 40px;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
  }
}
.tips__text {
  max-height: 155px;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.2px;
  overflow: hidden;
}
@media screen and (max-width: 1275px) {
  .tips__text {
    max-height: initial;
    font-size: 28px;
    overflow: initial;
  }
}
@media screen and (max-width: 479px) {
  .tips__text {
    max-height: initial;
    font-size: 16px;
    overflow: initial;
  }
}
.footer {
  position: relative;
  padding: 228px 33px 50px;
  text-transform: uppercase;
}
.footer:before {
  background: url(../images/game_1920.jpg) 50% 0 / cover no-repeat;
}
@media screen and (max-width: 767px) {
  .footer__wrap {
    padding: 0 20px;
  }
}
.footer__download-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
@media screen and (max-width: 991px) {
  .footer__download-link {
    flex-direction: column;
  }
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 14px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #7052cd, #50379a);
}
.footer__icon svg {
  width: 102px;
  fill: #fff;
}
@media screen and (max-width: 479px) {
  .footer__icon svg {
    width: 58px;
  }
}
@media screen and (max-width: 991px) {
  .footer__icon {
    margin-bottom: 83px;
  }
}
@media screen and (max-width: 479px) {
  .footer__icon {
    margin-bottom: 58px;
    padding: 11px 7px;
  }
}
.footer__text-container {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
}
.footer__text-container > *:first-child {
  margin: 0 0 10px -5px;
  color: #fff;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
}
@media screen and (max-width: 767px) {
  .footer__text-container > *:first-child {
    font-size: 40px;
  }
}
@media screen and (max-width: 479px) {
  .footer__text-container > *:first-child {
    font-size: 32px;
  }
}
.footer__text-container > *:not(:first-child) {
  color: #a496ca;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .footer__text-container > *:not(:first-child) {
    font-size: 18px;
  }
}
@media screen and (max-width: 479px) {
  .footer__text-container > *:not(:first-child) {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .footer__text-container {
    align-items: center;
    padding-left: 0;
  }
}
.footer__menu {
  margin-bottom: 250px;
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 125px 20px 20px;
  }
}
@media screen and (max-width: 479px) {
  .footer {
    padding: 100px 20px 20px;
  }
}
